main .wrap .object form .emprunt {
    display: none;
}

main .wrap .object form .rendu {
    display: none;
}

main .wrap .object .form {
    display: none;
}

.display_btn{
    background-color: tomato;
    font-size: 18px;
    text-transform: uppercase;
}

.display_btn.emprunter_btn{
    background-color: dodgerblue;
}