@font-face {
    font-family: "Avenir Next Regular";
    src: url('../fonts/AvenirNextLTPro-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next Bold";
    src: url('../fonts/AvenirNextLTPro-Bold.otf');
    font-style: bold;
}

@font-face {
    font-family: "Avenir Next Italic";
    src: url('../fonts/AvenirNextLTPro-It.otf');
    font-style: italic;
}

body{
    background-color: #000;
    color: white;
    font-family: "Avenir Next Regular";
}

main .wrap .object form .emprunt {
    display: none;
}

main .wrap .object form .rendu {
    display: none;
}

main .wrap .object .form {
    display: none;
}

main .wrap .produits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}